@import 'tailwindcss';
@theme {
  --color-main-blue: #3e4c74;
  --color-primary-btn: #f76c5e;
  --color-secondary-btn: #5b8fa1;
  --color-white-bg: #f9f9f9;
  --color-dash-bg: #e5e5e5;
  --color-body-bg: #f9f9f9;
  --color-white-100: rgba(255, 255, 255, 1);
  --color-white-85: rgba(255, 255, 255, 0.85);
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-25: rgba(255, 255, 255, 0.25);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-white-5: rgba(255, 255, 255, 0.05);
  --color-black-100: rgba(38, 31, 34, 1);
  --color-black-85: rgba(38, 31, 34, 0.85);
  --color-black-75: rgba(38, 31, 34, 0.75);
  --color-black-50: rgba(38, 31, 34, 0.5);
  --color-black-25: rgba(38, 31, 34, 0.25);
  --color-black-10: rgba(38, 31, 34, 0.1);
  --color-black-5: rgba(38, 31, 34, 0.05);
  --color-alert-red-txt: rgb(114, 28, 36);
  --color-alert-red-bg: rgb(248, 215, 218);
  --color-alert-red-border: rgb(245, 198, 203);
  --color-alert-green-txt: rgb(21, 87, 36);
  --color-alert-green-bg: rgb(212, 237, 218);
  --color-alert-green-border: rgb(195, 230, 203);
  --color-alert-yellow-txt: rgb(133, 100, 4);
  --color-alert-yellow-bg: rgb(255, 243, 205);
  --color-alert-yellow-border: rgb(255, 238, 186);
  --font-merriweather: Merriweather, serif;
  --font-lato: Lato, serif;
  --text-body: 1rem;
  --text-h6: 1.2rem;
  --text-h5: 1.44rem;
  --text-h4: 1.728rem;
  --text-h3: 2.074rem;
  --text-h2: 2.488rem;
  --text-h1: 2.986rem;
  --text-small-body: 0.9rem;
  --text-small: 0.8rem;
  --text-xs: 0.667rem;
  --text-metrics-number: 1.44rem;
  --text-metrics-type: 1.111rem;
  --text-chart-title: 1.111rem;
  --breakpoint-sm: 47rem;
  --breakpoint-md: 75rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 120rem;
}

html,
body {
  font-family: Lato, serif;
  font-size: 18px;
  background-color: var(--color-body-bg);
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* SWIPER STYLES */

.swiper-button-next,
.swiper-button-prev {
  background-color: var(--color-white-bg);
  padding: 1.25rem;
  border-radius: 100%;
  z-index: 50;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: var(--color-secondary-btn);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 24px !important;
  color: #5b8fa1;
}

/* PASSWORD CHECKLIST */
.password-checklist-container ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: 0.75rem;
}

.password-checklist-container ul li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.password-checklist-container ul li span {
  color: var(--color-black-100);
}

/* Target valid checklist items */
.password-checklist-container ul li.valid {
  color: rgba(22, 163, 74, 0.5);
}

/* Target invalid checklist items */
.password-checklist-container ul li.invalid {
  color: rgba(38, 31, 34, 0.5);
}

/* SVG icons */
.password-checklist-container ul li svg.checklist-icon {
  width: 9px !important;
  height: 9px !important;
  margin-right: 2.5px !important;
  margin-left: 0;
}

/* Valid checklist icons */
.password-checklist-container ul li.valid svg.checklist-icon path {
  fill: rgba(22, 163, 74, 0.75) !important;
}

/* Invalid checklist icons */
.password-checklist-container ul li.invalid svg.checklist-icon path {
  fill: rgba(229, 26, 26, 0.75) !important;
}
