@import 'tailwindcss';
@theme {
  --color-main-blue: #3e4c74;
  --color-primary-btn: #f76c5e;
  --color-secondary-btn: #5b8fa1;
  --color-white-bg: #f9f9f9;
  --color-black-100: rgba(38, 31, 34, 1);
  --color-black-75: rgba(38, 31, 34, 0.75);
  --color-black-50: rgba(38, 31, 34, 0.5);
  --color-black-25: rgba(38, 31, 34, 0.25);
  --color-black-10: rgba(38, 31, 34, 0.1);
  --color-black-5: rgba(38, 31, 34, 0.05);
  --font-merriweather: Merriweather, serif;
  --font-lato: Lato, serif;
  --text-body: 1rem;
  --text-h6: 1.2rem;
  --text-h5: 1.44rem;
  --text-h4: 1.728rem;
  --text-h3: 2.074rem;
  --text-h2: 2.488rem;
  --text-h1: 2.986rem;
  --text-small: 0.8rem;
  --text-xs: 0.667rem;
  --text-metrics-number: 2.22rem;
  --text-metrics-type: 1.333rem;
  --text-chart-title: 1.111rem;
  --breakpoint-sm: 45rem;
  --breakpoint-md: 60rem;
  --breakpoint-lg: 80rem;
}

html,
body {
  font-family: Lato, serif;
  font-size: 18px;
  background-color: #f9f9f9;
}
